@model LayoutViewModel

<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a asp-controller="Home" asp-action="Index"><img src="~/img/logo/@Model.Bio.FooterLogo" alt="eduhome"></a>
                        </div>
                        <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and give you a coete account of the system. </p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="@Model.Bio.Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@Model.Bio.Pinterest"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="@Model.Bio.Vimeo"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="@Model.Bio.Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>information</h3>
                        <ul>
                            <li><a href="#">addmission</a></li>
                            <li><a href="#">Academic Calender</a></li>
                            <li><a asp-controller="Event" asp-action="Index">Event List</a></li>
                            <li><a href="#">Hostel &amp; Dinning</a></li>
                            <li><a href="#">TimeTable</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>useful links</h3>
                        <ul>
                            <li><a asp-controller="Course" asp-action="Index">our courses</a></li>
                            <li><a asp-controller="About" asp-action="Index">about us</a></li>
                            <li><a asp-controller="Teacher" asp-action="Index">teachers &amp; faculty</a></li>
                            <li><a href="#">teams &amp; conditions</a></li>
                            <li><a asp-controller="Event" asp-action="Index">our events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        <p>@Html.Raw(Model.Bio.Address)</p>
                        <p>@Html.Raw(Model.Bio.Phone)</p>
                        <p>@Model.Bio.Email / @Model.Bio.Site</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="#" target="_blank">ode Academy</a> 2021. All Right Reserved By Nihat Osmanov.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

